* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-h2: 2rem;
  --font-size-p: 1.8rem;
  --font-size-span: 1.4rem;
  --font-size-button: 1.4rem;
  --columns: 4;
  --gap: 1.6rem;
  --dark-primary-color: #512da8;
  --default-primary-color: #673ab7;
  --light-primary-color: #d1c4e9;
  --text-primary-color: #ffffff;
  --accent-color: #e040fb;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;

  --primary-datk-color: #212121;
}

a,
body,
div,
ul,
li,
section,
main,
header,
menu,
nav,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
form,
input,
figure,
image,
picture,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-text-color);
}

img {
  max-width: 100%;
  height: initial;
  /* height: auto; */
}

.Header {
  color: var(--text-primary-color);
  min-width: 320px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header-items {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.Header-logo,
.Header-icons {
  width: 50%;
  padding: 1.6rem;
}

.Header-icons {
  display: flex;
  justify-content: center;
}

.Header-icons h2 {
  margin: 0 1.6rem;
}

.Main {
  width: 100%;
  min-width: 320px;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.none {
  display: none;
}

.Gallery-addImage-container {
  display: block;
}

.Gallery-container {
  /* display: inline-flex; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Gallery-image-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 240px;
  display: flex;
}

.Image {
  max-width: 100%;
}

.Gallery-button-container {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  padding: 1.6rem;
}

.Form {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.File-input-container {
  background-color: #cfcfcf;
  border-radius: 4px;
  color: #181818;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.6rem 0;
  padding: 1.6rem;
}

.Form-input-file {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 32px;
}

.button {
  background-color: #ffffff;
  border: none;
  width: 64px;
  height: 32px;
  margin: 1.6rem 0;
}

.Hide {
  display: none;
}

.Flex {
  display: flex;
}

.None {
  display: none;
}

@media screen and (min-width: 1200px) {
  .Gallery-image-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    height: 700px;
    display: flex;
  }

  .File-input-container {
    width: 50%;
  }

  .Form {
    display: flex;
    width: 50%;
  }


  .Form-buttons {
    display: flex;
    justify-content: space-between;
  }

  .Form label {
    color: #ffffff;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
  }

  .Form input {
    height: 32px;
    margin: 0.8rem 0;
  }

  .Hide {
    width: 64px;
    height: 42px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.6rem;
  }
}